<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.taihe.schedule"/>

    <context:property-placeholder location="file:/var/showstart/config/showstart.properties"/>

    <import resource="database/data-access-mongo.xml" />
    <import resource="database/data-access-mysql.xml" />
    <import resource="schedule/schedule.xml" />
    <bean id="msgSendService" class="com.taihe.schedule.service.impl.MsgSendServiceImpl">
        <property name="msgSendUrl" value="${MSG_SEND_URL}" />
        <property name="msgTargetEmail" value="${MSG_TARGET_EMAIL}" />
    </bean>
</beans>
